# to run this script type "docker compose up -d"

version: '3.8'

services:
  db:
    image: postgres:alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      # These variables AUTOMATICALLY create the user and DB.
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    restart: always
    
    entrypoint:
      - sh
      - -c
      - |
        echo "Injecting configuration script..."
        
        # 1. We use '>' to CREATE the file for the first line
        echo "ALTER ROLE \"${DB_USER}\" SET client_encoding TO 'utf8';" > /docker-entrypoint-initdb.d/init.sql
        
        # 2. We use '>>' to APPEND subsequent lines
        echo "ALTER ROLE \"${DB_USER}\" SET default_transaction_isolation TO 'read committed';" >> /docker-entrypoint-initdb.d/init.sql
        echo "ALTER ROLE \"${DB_USER}\" SET timezone TO 'UTC';" >> /docker-entrypoint-initdb.d/init.sql
        echo "GRANT ALL PRIVILEGES ON DATABASE \"${DB_NAME}\" TO \"${DB_USER}\";" >> /docker-entrypoint-initdb.d/init.sql
        
        # 3. Run the official Postgres entrypoint
        exec docker-entrypoint.sh postgres

volumes:
  postgres_data: