[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-environ = "*"
drf-yasg = "*"
django-templated-mail = "*"

[dev-packages]
pytest-django = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.14"
